@use 'styles/index.scss' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: auto !important;
    font-size: 20px;
    scroll-behavior: smooth;
}

html,
body,
#root {
    max-width: 100vw;
}

body,
#root {
    min-height: 100vh;
    overflow-x: hidden;
    color: $text-color-subHighlight;
    background-color: $bg-color-main;
    font-family: 'Montserrat', sans-serif !important;
}

*::selection {
    color: $text-color-selection;
    background-color: $text-color-lightGreen;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: $text-color-lightGreen;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
